@model ForgeTrust.Runnable.Web.NotFoundPageModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<body>
<main>
    <p>Shared fixture 404</p>
    <p>Path: @Model.OriginalPath</p>
</main>
</body>
</html>
