@model ForgeTrust.Runnable.Web.RazorDocs.Models.DocDetailsViewModel

<div class="max-w-6xl mx-auto px-4 py-6 sm:px-6 sm:py-8 lg:px-8 lg:py-12">
    @await Html.PartialAsync("/Views/Docs/Details.cshtml", Model)
</div>
